<div class="clearfix"><br/></div>
<div class="widget">
  	<div class="widget-head">
    	<%= title [l(:label_custom_field_plural), custom_fields_path],
  		[l(@custom_field.type_name), custom_fields_path(:tab => @custom_field.class.name)],
  			@custom_field.name %>
  	</div>

  	<div class="widget-body">

	  	<%= labelled_form_for :custom_field, @custom_field, :url => custom_field_path(@custom_field), :html => {:method => :put, :id => 'custom_field_form'} do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<% end %>
	</div>
</div>
