<h1 class="pull-left"><%= l(:label_custom_field_plural) %></h1> 
<div class="pull-right innerT">
  
  <%= link_to l(:label_custom_field_new), new_custom_field_path, :class => 'fa fa-plus btn btn-success btn-stroke' %>

</div>
<div class="clearfix"></div>
<br/>



<div class="widget">
	<div class="widget-body">
		<% if @custom_fields_by_type.present? %>
		  <%= render_custom_fields_tabs(@custom_fields_by_type.keys) %>
		<% else %>
		  <p class="alert alert-warning"><%= l(:label_no_data) %></p>
		<% end %>
	</div>
</div>

		
