<div class="clearfix"><br/></div>

<div class="widget">
	<div class="widget-head">
		<%= title [l(:label_custom_field_plural), custom_fields_path],
  			[l(@custom_field.type_name), custom_fields_path(:tab => @custom_field.class.name)],
  			l(:label_custom_field_new) %>
	</div>

	<div class="widget-body">
		<%= labelled_form_for :custom_field, @custom_field, :url => custom_fields_path, :html => {:id => 'custom_field_form'} do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<%= hidden_field_tag 'type', @custom_field.type %>
		<% end %>

		<%= javascript_tag do %>
		$('#custom_field_field_format').change(function(){
		  $.ajax({
		    url: '<%= new_custom_field_path(:format => 'js') %>',
		    type: 'get',
		    data: $('#custom_field_form').serialize(),
		    complete: toggleDisabledInit
		  });
		});
		<% end %>
	</div>
</div>



		
