<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues table tablet dynamicTable colVis dataTable">
    <thead class="bg-gray"><tr>
    <th>#</th>
    <th><%=l(:field_project)%></th>
    <th><%=l(:field_tracker)%></th>
    <th><%=l(:field_subject)%></th>
    </tr></thead>
    <tbody>
    <% for issue in issues %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
        <%= link_to(issue.id, issue_path(issue)) %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="tracker"><%= issue.tracker %></td>
      <td class="subject">
        <%= link_to(issue.subject.truncate(60), issue_path(issue)) %> (<%= issue.status %>)
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>
