<h1><%=l(:label_information_plural)%></h1>

<p><strong><%= Redmine::Info.versioned_name %></strong></p>

<div class="widget">
	<div class="widget-body">
		<table class="list table tablet dynamicTable colVis dataTable">
		<% @checklist.each do |label, result| %>
		  <tr class="<%= cycle 'odd', 'even' %>">
		    <td class="name"><%= label.is_a?(Symbol) ? l(label) : label %></td>
		    <td class="tick"><%= image_tag((result ? 'true.png' : 'exclamation.png'),
		                                    :style => "vertical-align:bottom;") %></td>
		  </tr>
		<% end %>
		</table>
		<br />
		<div class="box">
		<pre><%= Redmine::Info.environment %></pre>
		</div>

		<% html_title(l(:label_information_plural)) -%>
	</div>
</div>