<h1 class="pull-left"><%= l(:label_project_plural) %> </h1> 
<div class="pull-right innerT">
    <div class="btn-group">
            <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon-add-symbol btn btn-success' %>
    </div>
</div>
<div class="clearfix"></div>
<br/>

<%= form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
  <div class="col-sm-3">
    <div class="form-group">
      <label class="col-sm-4 control-label" for='status'><%= l(:field_status) %> :</label>
      <div class="col-sm-8">
        <%= select_tag 'status', project_status_options_for_select(@status), :class => "small form-control", :onchange => "this.form.submit(); return false;"  %>
      </div>
    </div>
  </div>  

  <div class="col-sm-4">
    <div class="form-group">    
      <label class="col-sm-3 control-label" for='name'><%= l(:label_project) %>:</label>    
      <div class="col-sm-9">
        <%= text_field_tag 'name', params[:name], :size => 30, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_apply) %>
      <% end %>
      <%= link_to l(:button_clear), {:controller => 'admin', :action => 'projects'}, :class => 'fa fa-times btn btn-default'  %>
    </div>
  </div>
</fieldset>
<% end %>
&nbsp;



<div class="autoscroll">
<table class="list table tablet dynamicTable colVis dataTable"> 
  <thead class="bg-gray"><tr>
  <th><%=l(:label_project)%></th>
  <th><%=l(:field_is_public)%></th>
  <th><%=l(:field_created_on)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% project_tree(@projects) do |project, level| %>
  <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
  <td class="name"><span><%= link_to_project_settings(project, {}, :title => project.short_description) %></span></td>
  <td style="align: left;"><%= checked_image project.is_public? %></td>
  <td style="align: left;"><%= format_date(project.created_on) %></td>
  <td class="buttons">
    <%= link_to(l(:button_archive), { :controller => 'projects', :action => 'archive', :id => project, :status => params[:status] }, :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'fa fa-archive btn btn-warning  btn-stroke') unless project.archived? %>
    <%= link_to(l(:button_unarchive), { :controller => 'projects', :action => 'unarchive', :id => project, :status => params[:status] }, :method => :post, :class => 'fa fa-archive btn btn-warning  btn-stroke') if project.archived? && (project.parent.nil? || !project.parent.archived?) %>
    <%= link_to(l(:button_copy), { :controller => 'projects', :action => 'copy', :id => project }, :class => 'fa fa-copy btn btn-inverse  btn-stroke') %>
    <%= link_to(l(:button_delete), project_path(project), :method => :delete, :class => 'fa fa-trash-o btn btn-danger  btn-stroke') %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>
</div>

