<div class="contextual">
<%= link_to " "+l(:button_copy), {:action => 'copy'}, :class => 'fa fa-copy btn btn-warning  btn-stroke' %>
<%= link_to " "+l(:field_summary), {:action => 'index'}, :class => 'fa fa-copy btn btn-danger btn-stroke' %>
</div>
