<div class="clearfix"><br></div>

<div class="widget">
  <div class="widget-head">
    <%= title [l(:label_workflow), workflows_edit_path], l(:field_summary) %>
  </div>

  <div class="widget-body">
    <% if @roles.empty? || @trackers.empty? %>
    <p class="alert alert-warning"><%= l(:label_no_data) %></p>
    <% else %>
    <div class="autoscroll">
    <table class="list">
    <thead>
        <tr>
        <th></th>
        <% @roles.each do |role| %>
        <th>
            <%= content_tag(role.builtin? ? 'em' : 'span', role.name) %>
        </th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @trackers.each do |tracker| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="name"><%= tracker.name %></td>
      <% @roles.each do |role| -%>
      <% count = @workflow_counts[[tracker.id, role.id]] || 0 %>
        <td>
          <%= link_to((count > 0 ? count : image_tag('false.png')), {:action => 'edit', :role_id => role, :tracker_id => tracker}, :title => l(:button_edit)) %>
        </td>
      <% end -%>
    </tr>
    <% end -%>
    </tbody>
    </table>
    </div>
    <% end %>
  </div>
</div>
