<%= error_messages_for @group %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60,
           :disabled => !@group.safe_attribute?('name'), class: "form-control"  %></p>

  <% @group.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :group, value %></p>
  <% end %>
</div>
