<%= labelled_form_for @group, :url => group_path(@group) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
    <i class="fa fa-check-circle"></i>
    <%= l(:button_save) %>
<% end %>
<% end %>
