<h3 class="title"><%= l(:label_user_new) %></h3>

<%= form_for(@group, :url => group_users_path(@group), :remote => true, :method => :post) do |f| %>
  <%= render :partial => 'new_users_form' %>
  <p class="buttons">
    <%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_add) %>
    <% end %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
