<h1 class="pull-left"><%= l(:label_group_plural) %> </h1> 
<div class="contextual pull-right innerT">
    <div class="btn-group">
            <%= link_to " "+l(:label_group_new), new_group_path, :class => 'icon-add-symbol btn btn-success' %>
    </div>
</div>
<div class="clearfix"></div>

<br/>


<% if @groups.any? %>
<table class="list groups table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
  <th><%=l(:label_group)%></th>
  <th><%=l(:label_user_plural)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% @groups.each do |group| %>
  <tr id="group-<%= group.id %>" class="<%= cycle 'odd', 'even' %> <%= "builtin" if group.builtin? %>">
    <td class="name"><%= link_to h(group), edit_group_path(group) %></td>
    <td class="user_count"><%= (@user_count_by_group_id[group.id] || 0) unless group.builtin? %></td>
    <td class="buttons"><%= delete_link group unless group.builtin? %></td>
  </tr>
<% end %>
  </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>
