
<div class="clearfix"></div><br/>



<div class="widget widget-heading-simple widget-body-gray">
	<div class="widget-head"><%= title [l(:label_group_plural), groups_path], l(:label_group_new) %></div>
	<div class="widget-body" data-toggle="source-code">
		<div class="margin-none">
			<%= labelled_form_for @group do |f| %>
				<%= render :partial => 'form', :locals => { :f => f } %>
				<p>
				  <%= button_tag(type: "submit", class: "small btn btn-success") do %>
				  	<i class="fa fa fa-check-circle"></i>
				  	<%= l(:button_create) %>
				  <% end %>	
				  <%= button_tag(type: "submit", :name => 'continue', class: "small btn btn-success") do %>
				  	<i class="fa fa fa-check-circle"></i>
				  	<%= l(:button_create_and_continue) %>
				  <% end %>	
				</p>
			<% end %>
		</div>
	</div>
</div>



