<%= labelled_form_for @user do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <% if @user.active? && email_delivery_enabled? -%>
    <p><label><%= check_box_tag 'send_information', 1, true %> <%= l(:label_send_information) %></label></p>
  <% end -%>
  <p>
  	<%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_save) %>
    <% end %>
  </p>

<% end %>
