<%= form_for(:user, :url => { :action => 'update' }, :html => {:method => :put}) do %>
<div class="box">
<% Group.givable.sort.each do |group| %>
<label><%= check_box_tag 'user[group_ids][]', group.id, @user.groups.to_a.include?(group), :id => nil %> <%=h group %></label><br />
<% end %>
<%= hidden_field_tag 'user[group_ids][]', '' %>
</div>
<%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
    <i class="fa fa-check-circle"></i>
    <%= l(:button_save) %>
<% end %>
<% end %>
