<div class="contextual">
<%= link_to " "+l(:label_profile), user_path(@user), :class => 'fa fa-user btn btn-info  btn-stroke' %>
<%= change_status_link(@user) %>
<%= delete_link user_path(@user) if User.current != @user %>
</div>

<%= title [l(:label_user_plural), users_path], @user.login %>

<%= render_tabs user_settings_tabs %>
