<h1 class="pull-left"><%=l(:label_user_plural)%></h1> 
<div class="pull-right innerT">
   
      <%= link_to l(:label_user_new), new_user_path, :class => 'fa fa-plus btn btn-success' %>
</div>
<div class="clearfix"></div>

<br/>

<%= form_tag(users_path, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
  <div class="col-md-3">
    <div class="form-group">
      <label class="col-md-4 control-label" for='status'><%= l(:field_status) %>:</label>
      <div class="col-md-8">
        <%= select_tag 'status', users_status_options_for_select(@status), :class => "mdall form-control", :onchange => "this.form.submit(); return false;"  %>
      </div>
    </div>
  </div>

<% if @groups.present? %>
  <div class="col-md-3">
    <div class="form-group">    
      <label class="col-md-3 control-label" for='group_id'><%= l(:label_group) %>:</label>
      <div class="col-md-8">
        <%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :class => "mdall form-control", :onchange => "this.form.submit(); return false;"  %>
      </div>
    </div>
  </div>
<% end %>
  
  <div class="col-md-3">
    <div class="form-group">    
      <label class="col-md-3 control-label" for='name'><%= l(:label_user) %></label>
      <div class="col-md-9">
        <%= text_field_tag 'name', params[:name], :size => 30, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= button_tag type: "submit", :class => "mdall btn btn-primary", :name => nil do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_apply) %>
      <% end %>
      <%= link_to l(:button_clear), users_path, :class => 'fa fa-times btn btn-default'  %>
    </div>
  </div>



</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
<table class="list dynamicTable table dataTable"> 
  <thead class="bg-gray"><tr>
  <%= sort_header_tag('login', :caption => l(:field_login)) %>
  <%= sort_header_tag('firstname', :caption => l(:field_firstname)) %>
  <%= sort_header_tag('lastname', :caption => l(:field_lastname)) %>
  <%= sort_header_tag('mail', :caption => l(:field_mail)) %>
  <%= sort_header_tag('admin', :caption => l(:field_admin), :default_order => 'desc') %>
  <%= sort_header_tag('created_on', :caption => l(:field_created_on), :default_order => 'desc') %>
  <%= sort_header_tag('last_login_on', :caption => l(:field_last_login_on), :default_order => 'desc') %>
    <th></th>
  </tr></thead>
  <tbody>
<% for user in @users -%>
  <tr class="<%= user.css_classes %> <%= cycle("odd", "even") %>">
  <td class="username"><%= avatar(user, :size => "14") %><%= link_to h(user.login), edit_user_path(user) %></td>
  <td class="firstname"><%= h(user.firstname) %></td>
  <td class="lastname"><%= h(user.lastname) %></td>
  <td class="email"><%= mail_to(h(user.mail)) %></td>
  <td class="tick"><%= checked_image user.admin? %></td>
  <td class="created_on"><%= format_time(user.created_on) %></td>
  <td class="last_login_on"><%= format_time(user.last_login_on) unless user.last_login_on.nil? %></td>
    <td class="buttons">
      <%= change_status_link(user) %>
      <%= delete_link user_path(user, :back_url => users_path(params)) unless User.current == user %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>
<ul class="pagination pagination-centered margin-none"><%= pagination_links_full @user_pages, @user_count %></ul>

<% html_title(l(:label_user_plural)) -%>




