
<% if User.current.allowed_to?(:manage_boards, @project) %>
<p><%= link_to " "+l(:label_board_new), new_project_board_path(@project), :class => 'fa fa-plus btn btn-info' %></p>
<% end %>

<% if @project.boards.any? %>
<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
    <th><%= l(:label_board) %></th>
    <th><%= l(:field_description) %></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
<% Board.board_tree(@project.boards) do |board, level|
  next if board.new_record? %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td class="name" style="padding-left: <%= level * 18 %>px;"><%= link_to board.name, project_board_path(@project, board) %></td>
    <td class="description"><%=h board.description %></td>
    <td class="reorder">
    <% if authorize_for("boards", "edit") %>
      <%= reorder_links('board', {:controller => 'boards', :action => 'update', :project_id => @project, :id => board}, :put) %>
    <% end %>
    </td>
    <td class="buttons">
    <% if User.current.allowed_to?(:manage_boards, @project) %>
      <%= link_to l(:button_edit), edit_project_board_path(@project, board), :class => 'icon icon-edit' %>
      <%= delete_link project_board_path(@project, board) %>
    <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>

