<p><%= link_to " "+l(:label_issue_category_new), new_project_issue_category_path(@project), :class => 'fa fa-plus btn btn-info' if User.current.allowed_to?(:manage_categories, @project) %></p>

<% if @project.issue_categories.any? %>
<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
    <th><%= l(:label_issue_category) %></th>
    <th><%= l(:field_assigned_to) %></th>
    <th></th>
  </tr></thead>
  <tbody>
<% for category in @project.issue_categories %>
  <% unless category.new_record? %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td class="name"><%=h(category.name) %></td>
    <td><%=h(category.assigned_to.name) if category.assigned_to %></td>
    <td class="buttons">
      <% if User.current.allowed_to?(:manage_categories, @project) %>
        <%= link_to l(:button_edit), edit_issue_category_path(category), :class => 'icon icon-edit' %>
        <%= delete_link issue_category_path(category) %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
    </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>


