<% roles = Role.find_all_givable
   members = @project.member_principals.includes(:member_roles, :roles, :principal).to_a.sort %>

<p><%= link_to " "+l(:label_member_new), new_project_membership_path(@project), :remote => true, :class => "fa fa-plus btn btn-info" %></p>

<% if members.any? %>
<table class="list members table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray">
    <tr>
      <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
      <th><%= l(:label_role_plural) %></th>
      <th style="width:15%"></th>
      <%= call_hook(:view_projects_settings_members_table_header, :project => @project) %>
    </tr>
  </thead>
  <tbody>
  <% members.each do |member| %>
  <% next if member.new_record? %>
  <tr id="member-<%= member.id %>" class="<%= cycle 'odd', 'even' %> member">
  <td class="name <%= member.principal.class.name.downcase %>"><%= link_to_user member.principal %></td>
  <td class="roles">
    <span id="member-<%= member.id %>-roles"><%= member.roles.sort.collect(&:to_s).join(', ') %></span>
      <%= form_for(member,
                   {:as => :membership, :remote => true,
                    :url => membership_path(member),
                    :method => :put,
                    :html => { :id => "member-#{member.id}-roles-form", :class => 'hol' }}
             ) do |f| %>
        <p>
          <% roles.each do |role| %>
          <label>
            <%= check_box_tag('membership[role_ids][]',
                              role.id, member.roles.include?(role),
                              :id => nil,
                              :disabled => member.member_roles.detect {
                                 |mr| mr.role_id == role.id && !mr.inherited_from.nil?
                                 } ) %> <%= role %>
          </label><br />
          <% end %>
        </p>
        <%= hidden_field_tag 'membership[role_ids][]', '', :id => nil %>
        <p>
          <%= submit_tag l(:button_save), :class => "small" %>
          <%= link_to_function(l(:button_cancel),
                               "$('#member-#{member.id}-roles').show(); $('#member-#{member.id}-roles-form').hide(); return false;") %>
        </p>
      <% end %>
  </td>
  <td class="buttons">
      <%= link_to_function l(:button_edit),
                           "$('#member-#{member.id}-roles').hide(); $('#member-#{member.id}-roles-form').show(); return false;",
                           :class => 'icon icon-edit' %>
      <%= delete_link membership_path(member),
                      :remote => true,
                      :data => (!User.current.admin? && member.include?(User.current) ? {:confirm => l(:text_own_membership_delete_confirmation)} : {}) if member.deletable? %>
  </td>
  <%= call_hook(:view_projects_settings_members_table_row, { :project => @project, :member => member}) %>
  </tr>
<% end; reset_cycle %>
  </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>
