<h3><%= l(:text_select_project_modules) %></h3>
<%= form_for @project,
            :url => { :action => 'modules', :id => @project },
            :html => {:id => 'modules-form',
                      :method => :post} do |f| %>

<fieldset class="box">
<legend></legend>

<% Redmine::AccessControl.available_project_modules.each do |m| %>
<p><label><%= check_box_tag 'enabled_module_names[]', m, @project.module_enabled?(m), :id => nil -%>
 <%= l_or_humanize(m, :prefix => "project_module_") %></label></p>
<% end %>
</fieldset>
<p><%= check_all_links 'modules-form' %></p>

<p><%= submit_tag l(:button_save), class: "btn btn-success" %></p>

<% end %>
