<% if User.current.allowed_to?(:manage_repository, @project) %>
  <p><%= link_to " "+l(:label_repository_new), new_project_repository_path(@project), :class => 'fa fa-plus btn btn-info' %></p>
<% end %>

<% if @project.repositories.any? %>
<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray">
    <tr>
      <th><%= l(:field_identifier) %></th>
      <th><%= l(:field_repository_is_default) %></th>
      <th><%= l(:label_scm) %></th>
      <th><%= l(:label_repository) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @project.repositories.sort.each do |repository| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td class="name">
      <%= link_to repository.identifier, 
            {:controller => 'repositories', :action => 'show',:id => @project, :repository_id => repository.identifier_param} if repository.identifier.present? %>
      </td>
      <td><%= checked_image repository.is_default? %></td>
      <td><%=h repository.scm_name %></td>
      <td><%=h repository.url %></td>
      <td class="buttons">
      <% if User.current.allowed_to?(:manage_repository, @project) %>
        <%= link_to(l(:label_user_plural), committers_repository_path(repository),
             :class => 'icon icon-user') %>
        <%= link_to(l(:button_edit), edit_repository_path(repository),
             :class => 'icon icon-edit') %>
        <%= delete_link repository_path(repository) %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>


