
<p><%= link_to " "+l(:label_version_new), new_project_version_path(@project, :back_url => ''), :class => 'fa fa-plus btn btn-info' if User.current.allowed_to?(:manage_versions, @project) %></p>


<% if @project.shared_versions.any? %>
<table class="list versions table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
    <th><%= l(:label_version) %></th>
    <th><%= l(:field_effective_date) %></th>
    <th><%= l(:field_description) %></th>
    <th><%= l(:field_status) %></th>
    <th><%= l(:field_sharing) %></th>
    <th><%= l(:label_wiki_page) %></th>
    <th style="width:15%"></th>
    </tr></thead>
  <tbody>
<% for version in @project.shared_versions.sort %>
    <tr class="version <%= cycle 'odd', 'even' %> <%=h version.status %> <%= 'shared' if version.project != @project %>">
    <td class="name"><%= link_to_version version %></td>
    <td class="date"><%= format_date(version.effective_date) %></td>
    <td class="description"><%=h version.description %></td>
    <td class="status"><%= l("version_status_#{version.status}") %></td>
    <td class="sharing"><%=h format_version_sharing(version.sharing) %></td>
    <td><%= link_to_if_authorized(h(version.wiki_page_title), {:controller => 'wiki', :action => 'show', :project_id => version.project, :id => Wiki.titleize(version.wiki_page_title)}) || h(version.wiki_page_title) unless version.wiki_page_title.blank? || version.project.wiki.nil? %></td>
    <td class="buttons">
      <% if version.project == @project && User.current.allowed_to?(:manage_versions, @project) %>
        <%= link_to l(:button_edit), edit_version_path(version), :class => 'icon icon-edit' %>
        <%= delete_link version_path(version) %>
      <% end %>
     </td>
    </tr>
<% end; reset_cycle %>
    </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>

<div class="contextual">
<% if @project.versions.any? %>
  <%= link_to l(:label_close_versions), close_completed_project_versions_path(@project), :method => :put %>
<% end %>
</div>


