<% roles = Role.find_all_givable %>

<p><%= link_to " "+l(:label_add_projects), new_principal_membership_path(principal), :remote => true, :class => "fa fa-plus btn btn-success" %></p>

<% if principal.memberships.any? %>
<table class="list memberships table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
    <th><%= l(:label_project) %></th>
    <th><%= l(:label_role_plural) %></th>
    <th style="width:15%"></th>
      <%= call_table_header_hook principal %>
  </tr></thead>
  <tbody>
  <% principal.memberships.preload(:member_roles => :role).each do |membership| %>
  <% next if membership.new_record? %>
  <tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
  <td class="project name">
    <%= link_to_project membership.project %>
  </td>
  <td class="roles">
    <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
    <%= form_for(:membership, :remote => true,
                 :url => principal_membership_path(principal, membership), :method => :put,
                 :html => {:id => "member-#{membership.id}-roles-form",
                           :style => 'display:none;'}) do %>
        <p><% roles.each do |role| %>
        <label><%= check_box_tag 'membership[role_ids][]', role.id, membership.roles.include?(role),
                                                           :disabled => membership.member_roles.detect {|mr| mr.role_id == role.id && !mr.inherited_from.nil?},
                                                           :id => nil %> <%=h role %></label><br />
        <% end %></p>
        <%= hidden_field_tag 'membership[role_ids][]', '', :id => nil %>
        <p><%= submit_tag l(:button_change) %>
        <%= link_to_function l(:button_cancel),
                             "$('#member-#{membership.id}-roles').show(); $('#member-#{membership.id}-roles-form').hide(); return false;"
            %></p>
    <% end %>
  </td>
  <td class="buttons">
      <%= link_to_function l(:button_edit),
                           "$('#member-#{membership.id}-roles').hide(); $('#member-#{membership.id}-roles-form').show(); return false;",
                           :class => 'icon icon-edit'
          %>
      <%= delete_link principal_membership_path(principal, membership), :remote => true if membership.deletable? %>
  </td>
      <%= call_table_row_hook principal, membership %>
  </tr>
  <% end; reset_cycle %>
  </tbody>
</table>
<% else %>
<p class="alert alert-warning"><%= l(:label_no_data) %></p>
<% end %>
