<h1><%= l(:label_add_projects) %></h1>

<div class="widget-body">
	<%= form_for :membership, :url => user_memberships_path(@principal), :method => :post do |f| %>
	  <%= render :partial => 'new_form' %>
	  <p>
	  	<%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
	        <i class="fa fa-plus"></i>
	        <%= l(:button_add) %>
	    <% end %>
	  </p>
	<% end %>
</div>
	