<%= error_messages_for 'enumeration' %>

<div class="box tabular">
  <p class="col-sm-5"><%= f.text_field :name, class: "form-control" %></p>
  <p><%= f.check_box :active %></p>
  <p><%= f.check_box :is_default %></p>

  <% @enumeration.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :enumeration, value %></p>
  <% end %>
</div>
