<div class="clearfix"><br></div>

<div class="widget">
	<div class="widget-head">
		<%= title [l(@enumeration.option_name), enumerations_path], @enumeration.name %>	
	</div>

	<div class="widget-body">
		<%= form_tag({}, :method => :delete) do %>
		<div class="box">
		<p><strong><%= l(:text_enumeration_destroy_question, @enumeration.objects_count) %></strong></p>
		<p><label for='reassign_to_id'><%= l(:text_enumeration_category_reassign_to) %></label>
		<%= select_tag 'reassign_to_id', (content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '') + options_from_collection_for_select(@enumerations, 'id', 'name')) %></p>
		</div>

		<%= button_tag type: "submit", class: "btn btn-success" do %>
			<i class="fa fa-check-circle"></i>
			<%= l(:button_apply) %>
		<% end %>
		<%= link_to l(:button_cancel), enumerations_path, class: "btn btn-default fa fa-cross" %>
		<% end %>
	</div>
</div>



