<div class="widget">
	<div class="widget-head">
		<%= title [l(@enumeration.option_name), enumerations_path], @enumeration.name %>	
	</div>

	<div class="widget-body">
		<%= labelled_form_for :enumeration, @enumeration, :url => enumeration_path(@enumeration), :html => {:method => :put} do |f| %>
	  	<%= render :partial => 'form', :locals => {:f => f} %>
	  	<%= submit_tag l(:button_save) %>
		<% end %>
	</div>
</div>



