<h1><%=l(:label_enumerations)%></h1>

<% Enumeration.get_subclasses.each do |klass| %>
<h3><%= l(klass::OptionName) %></h3>

<% enumerations = klass.shared %>
<% if enumerations.any? %>
<table class="list table tablet dynamicTable colVis dataTable">
<thead class="bg-gray">
<tr>
    <th><%= l(:field_name) %></th>
    <th><%= l(:field_is_default) %></th>
    <th><%= l(:field_active) %></th>
    <th><%=l(:button_sort)%></th>
    <th></th>
</tr></thead>
<% enumerations.each do |enumeration| %>
<tr class="<%= cycle('odd', 'even') %>">
    <td class="name"><%= link_to h(enumeration), edit_enumeration_path(enumeration) %></td>
    <td class="tick"><%= checked_image enumeration.is_default? %></td>
    <td class="tick"><%= checked_image enumeration.active? %></td>
    <td class="reorder"><%= reorder_links('enumeration', {:action => 'update', :id => enumeration}, :put) %></td>
    <td class="buttons"><%= delete_link enumeration_path(enumeration) %></td>
</tr>
<% end %>
</table>
<% reset_cycle %>
<% end %>

<p><%= link_to " "+l(:label_enumeration_new), new_enumeration_path(:type => klass.name), class: "btn btn-info fa fa-plus" %></p>
<% end %>

<% html_title(l(:label_enumerations)) -%>
