<div class="clearfix"><br></div>
<div class="widget">
	<div class="widget-head">
		<%= title [l(@enumeration.option_name), enumerations_path], l(:label_enumeration_new) %>
	</div>

	<div class="widget-body">
		<%= labelled_form_for :enumeration, @enumeration, :url => enumerations_path do |f| %>
		  	<%= f.hidden_field :type  %>
		  	<%= render :partial => 'form', :locals => {:f => f} %>
		  	<%= button_tag type: "submit", class: "btn btn-success" do %>
				<i class="fa fa-check-circle"></i>
				<%= l(:button_create) %>
			<% end %>
		<% end %>
	</div>
</div>




