<% if User.current.logged? %>
  <h2><%= l(:label_home) %></h2>

  <div class="splitcontentleft">
    <%= textilizable Setting.welcome_text %>
    <% if @news.any? %>
    <div class="news box">
    <h3><%=l(:label_news_latest)%></h3>
      <%= render :partial => 'news/news', :collection => @news %>
      <%= link_to l(:label_news_view_all), :controller => 'news' %>
    </div>
    <% end %>
    <%= call_hook(:view_welcome_index_left, :projects => @projects) %>
  </div>

  <div class="splitcontentright">
    <% if @projects.any? %>
    <div class="projects box">
      <h3><%=l(:label_project_latest)%></h3>
      <ul>
      <% for project in @projects %>
        <% @project = project %>
        <li>
        <%= link_to_project project %> (<%= format_time(project.created_on) %>)
        <div class="wiki">
          <%= textilizable project.short_description, :project => project %>
        </div>
        </li>
      <% end %>
      <% @project = nil %>
      </ul>
    </div>
    <% end %>
      <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
  </div>

  <% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
  <%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>

<% else %>
  <% content_for :account do %>
    <%= render "layouts/login" %>
  <% end %>
<% end %>

