<div id="query_form_with_buttons" class="hide-when-print">
<div id="query_form_content">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr>
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>

<p class="buttons">
  <%= link_to_function " "+l(:button_apply), '$("#query_form").submit()', :class => 'fa fa-check-circle btn btn-primary' %>
  <%= link_to " "+l(:button_clear), {:project_id => @project, :issue_id => @issue}, :class => 'fa fa-refress btn btn-inverse'  %>
</p>
</div>

<div class="widget widget-tabs-content widget-tabs-responsive widget-none">
  <div class="tabs hide-when-print widget-head bg-background text-center">
  <% query_params = params.slice(:f, :op, :v, :sort) %>
  <ul>
      <li><%= link_to(l(:label_details), _time_entries_path(@project, @issue, query_params),
                                         :class => (action_name == 'index' ? 'selected' : nil)) %></li>
      <li><%= link_to(l(:label_report), _report_time_entries_path(@project, @issue, query_params),
                                         :class => (action_name == 'report' ? 'selected' : nil)) %></li>
  </ul>
  </div>
</div>