<h1 class="pull-left"><%= l(:label_spent_time) %></h1> 
<div class="pull-right innerT">
    <%= link_to " "+l(:button_log_time), 
            _new_time_entry_path(@project, @issue),
            :class => 'fa fa-dashboard btn btn-info' if User.current.allowed_to?(:log_time, @project, :global => true) %>
</div>
<div class="clearfix"></div><br/>


<div class="widget">
  <div class="widget-head">
    <%= render_timelog_breadcrumb %>
  </div>

  <div class="widget-body">
    <%= form_tag(params.slice(:project_id, :issue_id), :method => :get, :id => 'query_form') do %>
    <%= render :partial => 'date_range' %>
    <% end %>

    <div class="total-hours">
    <p><%= l(:label_total_time) %>: <%= html_hours(l_hours(@total_hours)) %></p>
    </div>

    <% unless @entries.empty? %>
    <%= render :partial => 'list', :locals => { :entries => @entries }%>
    <p class="pagination pagination-centered margin-none"><%= pagination_links_full @entry_pages, @entry_count %></p>

    <% other_formats_links do |f| %>
      <%= f.link_to 'Atom', :url => params.merge({:issue_id => @issue, :key => User.current.rss_key}) %>
      <%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
    <% end %>

    <div id="csv-export-options" style="display:none;">
      <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
      <%= form_tag(params.slice(:project_id, :issue_id).merge(:format => 'csv', :page=>nil), :method => :get, :id => 'csv-export-form') do %>
      <%= query_hidden_tags @query %>
      <p>
        <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
        <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
      </p>
      <p class="buttons">
        <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
        <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
      </p>
      <% end %>
    </div>
    <% end %>

    <% html_title l(:label_spent_time), l(:label_details) %>

    <% content_for :header_tags do %>
        <%= auto_discovery_link_tag(:atom, {:issue_id => @issue, :format => 'atom', :key => User.current.rss_key}, :title => l(:label_spent_time)) %>
    <% end %>

  </div>
</div>



