<h1 class="pull-left"><%= l(:label_spent_time) %></h1> 
<div class="clearfix"></div><br/>

<div class="widget">
	<div class="widget-body">
		<%= labelled_form_for @time_entry, :url => time_entries_path do |f| %>
		  	<div class="col-md-5">
		  		<%= render :partial => 'form', :locals => {:f => f} %>
		  	</div>	
		  	<div class="clearfix">&nbsp;</div>
		  	<div class="row">
			  <%= submit_tag l(:button_create), class: "btn btn-success" %>
			  <%= submit_tag l(:button_create_and_continue), :name => 'continue', class: "btn btn-success" %>
		  	</div>
		<% end %>
	</div>
</div>
		