<h1 class="pull-left"><%= l(:label_spent_time) %></h1>
<div class="pull-right innerT">
    <%= link_to l(:button_log_time), 
            _new_time_entry_path(@project, @issue),
            :class => 'fa fa-dashboard btn btn-info' if User.current.allowed_to?(:log_time, @project, :global => true) %>
</div>
<div class="clearfix"></div><br/>

<div class="widget">
  <div class="widget-head">
    <%= render_timelog_breadcrumb %>    
  </div>

  <div class="widget-body">
    <%= form_tag(params.slice(:project_id, :issue_id), :method => :get, :id => 'query_form') do %>
    <% @report.criteria.each do |criterion| %>
      <%= hidden_field_tag 'criteria[]', criterion, :id => nil %>
    <% end %>
    <%= render :partial => 'timelog/date_range' %>

    <div class="col-sm-3">
      <div class="col-sm-3"><label for='columns'><%= l(:label_details) %></label></div>
      <div class="col-sm-9">
        <%= select_tag 'columns', options_for_select([[l(:label_year), 'year'],
              [l(:label_month), 'month'], [l(:label_week), 'week'],
                              [l(:label_day_plural).titleize, 'day']], @report.columns),
                              :onchange => "this.form.submit();", class: "form-control" %>
        </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-3">
        <label for='criterias'><%= l(:button_add) %></label>  
      </div>
      <div class="col-sm-9">
       <%= select_tag('criteria[]', options_for_select([[]] + (@report.available_criteria.keys - @report.criteria).collect{|k| [l_or_humanize(@report.available_criteria[k][:label]), k]}),
              :onchange => "this.form.submit();", :style => 'width: 200px',
                :id => nil, class: "form-control", :disabled => (@report.criteria.length >= 3), :id => "criterias") %>
      </div>
    </div>
       <%= link_to l(:button_clear), {:project_id => @project, :issue_id => @issue, :period_type => params[:period_type], :period => params[:period], :from => @from, :to => @to, :columns => @report.columns}, :class => 'fa fa-refresh btn btn-inverse' %>
    
  <% end %>

  <% unless @report.criteria.empty? %>
  <div class="total-hours">
  <p><%= l(:label_total_time) %>: <%= html_hours(l_hours(@report.total_hours)) %></p>
  </div>

  <% unless @report.hours.empty? %>
  <div class="autoscroll">
  <table class="list dynamicTable table dataTable" id="time-report">
  <thead class="bg-gray">
  <tr>
  <% @report.criteria.each do |criteria| %>
    <th><%= l_or_humanize(@report.available_criteria[criteria][:label]) %></th>
  <% end %>
  <% columns_width = (40 / (@report.periods.length+1)).to_i %>
  <% @report.periods.each do |period| %>
    <th class="period" style="width:<%= columns_width %>%;"><%= period %></th>
  <% end %>
    <th class="total" style="width:<%= columns_width %>%;"><%= l(:label_total_time) %></th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'report_criteria', :locals => {:criterias => @report.criteria, :hours => @report.hours, :level => 0} %>
    <tr class="total">
    <td><%= l(:label_total_time) %></td>
    <%= ('<td></td>' * (@report.criteria.size - 1)).html_safe %>
    <% total = 0 -%>
    <% @report.periods.each do |period| -%>
      <% sum = sum_hours(select_hours(@report.hours, @report.columns, period.to_s)); total += sum -%>
      <td class="hours"><%= html_hours("%.2f" % sum) if sum > 0 %></td>
    <% end -%>
    <td class="hours"><%= html_hours("%.2f" % total) if total > 0 %></td>
    </tr>
  </tbody>
  </table>
  </div>

  <% other_formats_links do |f| %>
    <%= f.link_to 'CSV', :url => params %>
  <% end %>
  <% end %>
  <% end %>

  <% html_title l(:label_spent_time), l(:label_report) %>
  </div>
</div>




  

