<%= form_tag({:action => 'edit', :tab => 'display'}) do %>

<div class="box tabular settings">
<p><%= setting_select :ui_theme, Redmine::Themes.themes.collect {|t| [t.name, t.id]}, :blank => :label_default, :label => :label_theme, class: "form-control" %></p>

<p><%= setting_select :default_language, lang_options_for_select(false), class: "form-control" %></p>

<p><%= setting_check_box :force_default_language_for_anonymous %></p>

<p><%= setting_check_box :force_default_language_for_loggedin %></p>

<p><%= setting_select :start_of_week, [[day_name(1),'1'], [day_name(6),'6'], [day_name(7),'7']], :blank => :label_language_based, class: "form-control" %></p>
<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>
<p><%= setting_select :date_format, Setting::DATE_FORMATS.collect {|f| [::I18n.l(Date.today, :locale => locale, :format => f), f]}, :blank => :label_language_based, class: "form-control" %></p>

<p><%= setting_select :time_format, Setting::TIME_FORMATS.collect {|f| [::I18n.l(Time.now, :locale => locale, :format => f), f]}, :blank => :label_language_based, class: "form-control" %></p>

<p><%= setting_select :user_format, @options[:user_format], class: "form-control" %></p>

<p><%= setting_check_box :gravatar_enabled, class: "form-control" %></p>

<p><%= setting_select :gravatar_default, [["Wavatars", 'wavatar'], ["Identicons", 'identicon'], ["Monster ids", 'monsterid'], ["Retro", 'retro'], ["Mystery man", 'mm']], :blank => :label_none, class: "form-control" %></p>

<p><%= setting_check_box :thumbnails_enabled %></p>

<p><%= setting_text_field :thumbnails_size, :size => 6, class: "form-control" %></p>
</div>

<%= button_tag(type: "submit", class: "btn btn-success") do %>
	<i class="fa fa-plus"></i>
	<%= l(:button_save) %>
<% end %>
<% end %>
