<%= form_tag({:action => 'edit'}) do %>

<div class="box tabular settings">
<p><%= setting_text_field :app_title, :size => 30, class: "form-control" %></p>

<p><%= setting_text_area :welcome_text, :cols => 60, :rows => 5, :class => 'wiki-edit form-control' %></p>
<%= wikitoolbar_for 'settings_welcome_text' %>

<p><%= setting_text_field :attachment_max_size, :size => 6, class: "form-control" %> <%= l(:"number.human.storage_units.units.kb") %></p>

<p><%= setting_text_field :per_page_options, :size => 20, class: "form-control" %>
<em class="info"><%= l(:text_comma_separated) %></em></p>

<p><%= setting_text_field :activity_days_default, :size => 6, class: "form-control" %> <%= l(:label_day_plural) %></p>

<p><%= setting_text_field :host_name, :size => 60, class: "form-control" %>
<em class="info"><%= l(:label_example) %>: <%= @guessed_host_and_path %></em></p>

<p><%= setting_select :protocol, [['HTTP', 'http'], ['HTTPS', 'https']], class: "form-control" %></p>

<p><%= setting_select :text_formatting, Redmine::WikiFormatting.formats_for_select, :blank => :label_none, class: "form-control" %></p>

<p><%= setting_check_box :cache_formatted_text %></p>

<p><%= setting_select :wiki_compression, [['Gzip', 'gzip']], :blank => :label_none, class: "form-control" %></p>

<p><%= setting_text_field :feeds_limit, :size => 6, class: "form-control" %></p>

<p><%= setting_text_field :file_max_size_displayed, :size => 6, class: "form-control" %> <%= l(:"number.human.storage_units.units.kb") %></p>

<p><%= setting_text_field :diff_max_lines_displayed, :size => 6, class: "form-control" %></p>

<p><%= setting_text_field :repositories_encodings, :size => 60, class: "form-control" %>
<em class="info"><%= l(:text_comma_separated) %></em></p>

<%= call_hook(:view_settings_general_form) %>
</div>

<%= button_tag(type: "submit", class: "btn btn-success") do %>
	<i class="fa fa-plus"></i>
	<%= l(:button_save) %>
<% end %>
<% end %>
