<%= form_tag({:action => 'edit', :tab => 'issues'}) do %>

<div class="box tabular settings">
<p><%= setting_check_box :cross_project_issue_relations %></p>

<p><%= setting_select :link_copied_issue, link_copied_issue_options, class: "form-control" %></p>

<p><%= setting_select :cross_project_subtasks, cross_project_subtasks_options, class: "form-control" %></p>

<p><%= setting_check_box :issue_group_assignment %></p>

<p><%= setting_check_box :default_issue_start_date_to_creation_date %></p>

<p><%= setting_check_box :display_subprojects_issues %></p>

<p><%= setting_select :issue_done_ratio, Issue::DONE_RATIO_OPTIONS.collect {|i| [l("setting_issue_done_ratio_#{i}"), i]}, class: "form-control" %></p>

<p><%= setting_multiselect :non_working_week_days, (1..7).map {|d| [day_name(d), d.to_s]}, :inline => true, class: "form-control" %></p>

<p><%= setting_text_field :issues_export_limit, :size => 6, class: "form-control" %></p>

<p><%= setting_text_field :gantt_items_limit, :size => 6, class: "form-control" %></p>
</div>

<fieldset class="box">
  <legend><%= l(:setting_issue_list_default_columns) %></legend>
  <%= render_query_columns_selection(
        IssueQuery.new(:column_names => Setting.issue_list_default_columns),
        :name => 'settings[issue_list_default_columns]') %>
</fieldset>

<%= button_tag(type: "submit", class: "btn btn-success") do %>
	<i class="fa fa-plus"></i>
	<%= l(:button_save) %>
<% end %>
<% end %>
