<%= form_tag({:action => 'edit', :tab => 'projects'}) do %>

<div class="box tabular settings">
<p><%= setting_check_box :default_projects_public %></p>

<p><%= setting_multiselect(:default_projects_modules,
        Redmine::AccessControl.available_project_modules.collect {|m| [l_or_humanize(m, :prefix => "project_module_"), m.to_s]}) %></p>

<p><%= setting_multiselect(:default_projects_tracker_ids,
        Tracker.sorted.collect {|t| [t.name, t.id.to_s]}, class: "form-control") %></p>

<p><%= setting_check_box :sequential_project_identifiers %></p>

<p><%= setting_select :new_project_user_role_id,
                      Role.find_all_givable.collect {|r| [r.name, r.id.to_s]},
                      :blank => "--- #{l(:actionview_instancetag_blank_option)} ---", class: "form-control" %></p>
</div>

<%= button_tag(type: "submit", class: "btn btn-success") do %>
	<i class="fa fa-plus"></i>
	<%= l(:button_save) %>
<% end %>
<% end %>
