<%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name %>
<div class="clearfix"></div>

<div id="settings">
<%= form_tag({:action => 'plugin'}) do %>
<div class="box tabular settings">
<%= render :partial => @partial, :locals => {:settings => @settings}%>
</div>
	<%= button_tag(type: "submit", class: "btn btn-primary") do %>
		<i class="fa fa-check-circle"></i>
		<%= l(:button_apply) %>
	<% end %>
	
<% end %>
</div>
