<%= error_messages_for 'auth_source' %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true, class: "form-control" %></p>
  <p><%= f.text_field :host, :required => true, class: "form-control" %></p>
  <p><%= f.text_field :port, :required => true, :size => 6, class: "form-control" %> <%= f.check_box :tls, :no_label => true %> LDAPS</p>
  <p><%= f.text_field :account, class: "form-control" %></p>
  <p><%= f.password_field :account_password, :label => :field_password,
           :name => 'dummy_password',
           :value => ((@auth_source.new_record? || @auth_source.account_password.blank?) ? '' : ('x'*15)),
           :onfocus => "this.value=''; this.name='auth_source[account_password]';",
           :onchange => "this.name='auth_source[account_password]';", class: "form-control" %></p>
  <p><%= f.text_field :base_dn, :required => true, :size => 60, class: "form-control" %></p>
  <p><%= f.text_field :filter, :size => 60, :label => :field_auth_source_ldap_filter, class: "form-control" %></p>
  <p><%= f.text_field :timeout, :size => 4, class: "form-control" %></p>
  <p><%= f.check_box :onthefly_register, :label => :field_onthefly %></p>
</div>

<fieldset class="box tabular"><legend><%=l(:label_attribute_plural)%></legend>
  <p><%= f.text_field :attr_login, :required => true, :size => 20, class: "form-control" %></p>
  <p><%= f.text_field :attr_firstname, :size => 20, class: "form-control" %></p>
  <p><%= f.text_field :attr_lastname, :size => 20, class: "form-control" %></p>
  <p><%= f.text_field :attr_mail, :size => 20, class: "form-control" %></p>
</fieldset>
