<div class="clearfix"><br/></div>
<div class="widget">
	<div class="widget-head">
		<%= title [l(:label_auth_source_plural), auth_sources_path], @auth_source.name %>
	</div>
	<div class="widget-body">
		<%= labelled_form_for @auth_source, :as => :auth_source, :url => auth_source_path(@auth_source), :html => {:id => 'auth_source_form'} do |f| %>
  			<%= render :partial => auth_source_partial_name(@auth_source), :locals => { :f => f } %>
  			<%= button_tag(type: "submit", class: "btn btn-success") do %>
				<i class="fa fa-plus"></i>
				<%= l(:button_create) %>
			<% end %>
		<% end %>
	</div>
</div>



