<h1 class="pull-left"><%= l(:label_auth_source_plural) %></h1> 
<div class="pull-right innerT">
    <div class="btn-group">
      <%= link_to  " "+l(:label_auth_source_new), {:action => 'new'}, :class => 'icon-add-symbol btn btn-success btn-stroke' %>
    </div>
</div>
<div class="clearfix"></div>

<br/>



<table class="list dynamicTable table dataTable">
  <thead class="bg-gray"><tr>
    <th><%=l(:field_name)%></th>
    <th><%=l(:field_type)%></th>
    <th><%=l(:field_host)%></th>
    <th><%=l(:label_user_plural)%></th>
    <th></th>
  </tr></thead>
  <tbody>
<% for source in @auth_sources %>
  <tr id="auth-source-<%= source.id %>" class="<%= cycle("odd", "even") %>">
    <td class="name"><%= link_to(h(source.name), :action => 'edit', :id => source)%></td>
    <td><%= h source.auth_method_name %></td>
    <td><%= h source.host %></td>
    <td><%= h source.users.count %></td>
    <td class="buttons">
      <%= link_to l(:button_test), try_connection_auth_source_path(source), :class => 'icon icon-test' %>
      <%= delete_link auth_source_path(source) %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination pagination-centered margin-none"><%= pagination_links_full @auth_source_pages %></p>
