<div class="clearfix"><br/></div>
<div class="widget">
	<div class="widget-head">
		<%= title [l(:label_auth_source_plural), auth_sources_path], "#{l(:label_auth_source_new)} (#{@auth_source.auth_method_name})" %>		
	</div>

	<div class="widget-body">
		<%= labelled_form_for @auth_source, :as => :auth_source, :url => auth_sources_path, :html => {:id => 'auth_source_form'} do |f| %>
			<%= hidden_field_tag 'type', @auth_source.type %>
			<%= render :partial => auth_source_partial_name(@auth_source), :locals => { :f => f } %>
			<%= button_tag type: "submit", class: "btn btn-success" do %>
				<i class="fa fa-plus"></i>
				<%= l(:button_create) %>
			<% end %>
		<% end %>
		
	</div>
</div>


