<h1 class="pull-left"><%= l(:label_project_plural) %></h1> 
<div class="pull-right innerT">
    <div class="btn-group">
      <%= render_project_action_links %>
    </div>
</div>
<div class="clearfix"></div><br/>

<div class="widget">
	<div class="widget-body">
		<% content_for :header_tags do %>
		    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
		<% end %>

		<div id="projects-index">
		<%= render_project_hierarchy(@projects) %>
		</div>

		<% if User.current.logged? %>
		<p style="text-align:right;">
		<span class="my-project"><%= l(:label_my_projects) %></span>
		</p>
		<% end %>

		<% other_formats_links do |f| %>
		  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
		<% end %>

		<% content_for :sidebar do %>
		  <%= form_tag({}, :method => :get) do %>
		    <h3><%= l(:label_project_plural) %></h3>
		    <label for="closed"><%= check_box_tag 'closed', 1, params[:closed] %> <%= l(:label_show_closed_projects) %></label>
		    <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
		  <% end %>
		<% end %>

		<% html_title(l(:label_project_plural)) -%>
	</div>
</div>
		
