<h1><%= l(:label_project_new) %></h1>
<div class="clearfix"></div><br>

<%= labelled_form_for @project do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create), class: "btn btn-success" %>
<%= submit_tag l(:button_create_and_continue), :name => 'continue', class: "btn btn-success" %>
<% end %>
