<div class="navbar hidden-print main navbar-default" role="navigation">
    <div class="user-action user-action-btn-navbar pull-right">
        <button class="btn btn-sm btn-navbar btn-inverse btn-stroke hidden-lg hidden-md"><i class="fa fa-bars fa-2x"></i></button>
    </div>
    <a href="index.html" class="logo">
        <!-- <img src="../assets/images/logo/logo.jpg" width="32" alt="SMART"> -->
        <span class="hidden-xs hidden-sm inline-block"><span>mosaic</span>pro</span>
    </a>
    <ul class="main pull-left hidden-xs ">
        <li class="dropdown notif notifications hidden-xs">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <span class="badge badge-danger">5</span></a>
            <ul class="dropdown-menu chat media-list">
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/15.jpg" alt="50x50" width="50"></a>
                    <div class="media-body">
                        <span class="label label-default pull-right">5 min</span>
                        <h5 class="media-heading hidden-xs"><%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %></h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/16.jpg" alt="50x50" width="50"></a>
                    <div class="media-body">
                        <span class="label label-default pull-right">2 days</span>
                        <h5 class="media-heading">Jane B.</h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/17.jpg" alt="50x50" width="50"></a>
                    <div class="media-body">
                        <span class="label label-default pull-right">3 days</span>
                        <h5 class="media-heading">Andrew M.</h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li><a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a></li>
            </ul>
        </li>
        <li class="notifications">
            <a href="user/projects.html"><i class="fa fa-clock-o"></i> <span class="badge badge-warning">7</span></a>
        </li>
        <li class="notifications">
            <a href="user.html"><i class="fa fa-user"></i> <span class="badge badge-info">2</span></a>
        </li>
    </ul>
    <ul class="main pull-right">
        <li class="hidden-xs hidden-sm">
            <%= link_to new_project_path, class: "btn btn-info" do %>
                <span><%= l(:label_project_new) %></span>
                <i class="fa fa-fw icon-compose"></i>
            <% end %>
        </li>
        <!-- <li class="hidden-xs">Completed Tasks:  <strong class="text-primary">24</strong></li> -->
        <li class="dropdown username hidden-xs">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag("people/2-sm.jpg", class: "img-circle") %> 
            <%= User.current.login %> <span class="caret"></span></a>

            <ul class="dropdown-menu pull-right">
                <li>
                    <%= link_to my_account_path do %>
                        <i class="fa fa-user"></i> Account
                    <% end %>
                </li>
                <li>
                    <%= form_tag(signout_path) do %>
                        <%= button_tag(type: "submit") do %>
                            <i class="fa fa-sign-out"></i>  
                            <%= " "+l(:label_logout) %>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </li>
    </ul> 
</div>
