<div id="menu" class="hidden-print hidden-xs">

			
<div id="sidebar-fusion-wrapper" class="hasNiceScroll" tabindex="5000" style="overflow-y: hidden; position: relative; z-index: 1000">
<!--        <input class="form-control search" type="text" placeholder="Search...">-->
    <div class="search-wrapper">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-inverse" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>

    <div id="logoWrapper">
        <div class="media">
            <a href="" class="pull-left"><img src="../assets/images/people/50/2.jpg" alt="" class="img-circle"></a>
            <div class="media-body">
                <a href="" class="name">Adrian D.</a>
                <p><i class="fa fa-fw fa-circle-o text-success"></i> Online</p>
            </div>
            <div class="clearfix"></div>
            <a href="user.html" class="btn btn-xs btn-inverse "><i class="fa fa-user"></i></a>
            <a href="user/projects.html" class="btn btn-xs btn-inverse "><i class="fa fa-clock-o"></i></a>
            <a href="user/messages.html" class="btn btn-xs btn-inverse "><i class="fa fa-envelope"></i></a>

        </div>
        <select class="selectpicker" data-style="btn-inverse" id="select_project" style="display: none;">
            <option>Select Project</option>
            <option value="project_milestones.html">Project #1</option>
            <option value="project_milestones.html">Project #2</option>
            <option value="project_milestones.html">Project #3</option>
        </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-inverse" data-toggle="dropdown" data-id="select_project" title="Select Project"><span class="filter-option pull-left">Select Project</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Select Project</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Project #1</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Project #2</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Project #3</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
    </div>
	<ul class="menu list-unstyled">
					<li class="active">

				                    <a href="index.html" class="index">
                    
                    
                                        <i class="fa fa-home"></i>
                    
                                        <span>Overview</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="projects_grid.html">
                    
                    
                                        <i class="fa fa-th-large"></i>
                    
                                        <span>Projects Grid</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="projects_list.html">
                    
                    
                                        <i class="fa fa-list"></i>
                    
                                        <span>Projects List</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="project_milestones.html">
                    
                    
                                        <i class="fa fa-clock-o"></i>
                    
                                        <span>Project Overview</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="project_tasks.html">
                    
                    
                                        <i class="fa fa-ticket"></i>
                    
                                        <span>Tasks</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="user.html">
                    
                    
                                        <i class="fa fa-user"></i>
                    
                                        <span>User Account</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="calendar.html" class="calendar">
                    
                    
                                        <i class="fa fa-calendar"></i>
                    
                                        <span>Calendar</span>
                    
                
				
				</a>
				
			</li>
						<li class="hasSubmenu">

				                    <a href="#menu-4905a8758e2b9b737de284e3c796cd55" data-toggle="collapse">
                    
                    
                                        <i class="fa fa-lock"></i>
                    
                                        <span>Access</span>
                    
                
				
				</a>
				                                        <ul class="collapse" id="menu-4905a8758e2b9b737de284e3c796cd55">
                        			<li class="">

				                    <a href="login.html" class="no-ajaxify">
                    
                    
                                        <i class="fa fa-lock"></i>
                    
                                        <span>Login</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="signup.html" class="no-ajaxify">
                    
                    
                                        <i class="fa fa-pencil"></i>
                    
                                        <span>Sign up</span>
                    
                
				
				</a>
				
			</li>
			                    </ul>
                    				
			</li>
						<li class="">

				                    <a href="pricing_tables.html" class="pricing">
                    
                    
                                        <i class="fa fa-money"></i>
                    
                                        <span>Pricing</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="support_forum_overview.html" class="forum">
                    
                    
                                        <i class="fa fa-life-ring"></i>
                    
                                        <span>Forum</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="support_kb.html">
                    
                    
                                        <i class="fa fa-file-text-o"></i>
                    
                                        <span>Knowledge Base</span>
                    
                
				
				</a>
				
			</li>
						<li class="hasSubmenu">

				                    <a href="#menu-dcb4f366747b36dd34a1e7413d58e4b8" data-toggle="collapse">
                    
                    
                                        <i class="fa fa-th-large"></i>
                    
                                        <span>Components</span>
                    
                
				
				</a>
				                                        <ul class="collapse" id="menu-dcb4f366747b36dd34a1e7413d58e4b8">
                        			<li class="">

				                    <a href="ui.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>UI Elements</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="icons.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Icons</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="typography.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Typography</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="tabs.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Tabs</span>
                    
                
				
				</a>
				
			</li>
						<li class="hasSubmenu">

				                    <a href="#menu-6eaf9e9a2d473384513747cb02213914" data-toggle="collapse">
                    
                                        <span class="badge pull-right badge-primary">3</span>
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Tables</span>
                    
                
				
				</a>
				                                        <ul class="collapse" id="menu-6eaf9e9a2d473384513747cb02213914">
                        			<li class="">

				                    <a href="tables.html">
                    
                    
                    
                                        <span>Tables</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="tables_responsive.html">
                    
                    
                    
                                        <span>Responsive Tables</span>
                    
                
				
				</a>
				
			</li>
			                    </ul>
                    				
			</li>
						<li class="hasSubmenu">

				                    <a href="#menu-fe3a45f95143c09d49f4ee00c73d0961" data-toggle="collapse">
                    
                                        <span class="badge pull-right badge-primary">4</span>
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Forms</span>
                    
                
				
				</a>
				                                        <ul class="collapse" id="menu-fe3a45f95143c09d49f4ee00c73d0961">
                        			<li class="">

				                    <a href="form_wizards.html">
                    
                    
                    
                                        <span>Form Wizards</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="form_elements.html">
                    
                    
                    
                                        <span>Form Elements</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="form_validator.html">
                    
                    
                    
                                        <span>Form Validator</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="file_managers.html">
                    
                    
                    
                                        <span>File Managers</span>
                    
                
				
				</a>
				
			</li>
			                    </ul>
                    				
			</li>
						<li class="">

				                    <a href="sliders.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Sliders</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="charts.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Charts</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="grid.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Grid</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="notifications.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Notifications</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="modals.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Modals</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="thumbnails.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Thumbnails</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="carousels.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Carousels</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="image_crop.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Image Cropping</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="twitter.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Twitter API</span>
                    
                
				
				</a>
				
			</li>
						<li class="">

				                    <a href="infinite_scroll.html">
                    
                    
                                        <i class="fa fa-circle-o"></i>
                    
                                        <span>Infinite Scroll</span>
                    
                
				
				</a>
				
			</li>
			                    </ul>
                    				
			</li>
				</ul>
</div>






	<script type="text/javascript">
		
	    $(document).ready(function () {
		    $(".hasNiceScroll").niceScroll({
		        cursorcolor: 'rgb(199, 42, 37)',
		        cursoropacitymin: 0,
		        background: "",
		        cursorborder: "none",
		        autohidemode: "leave",
		        cursorminheight: 30
		    });
		    $('.nicescroll-rails').show();
		});
	</script>

</div>

