<!-- Sidebar Menu -->
<div id="menu" class="hidden-print hidden-xs">

			
<div tabindex="5000" style="overflow-y: hidden;" class="hasNiceScroll" id="sidebar-fusion-wrapper">
<!--        <input class="form-control search" type="text" placeholder="Search...">-->
<%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
<%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
    <div class="search-wrapper">
        <div class="input-group">
                <%= text_field_tag 'q', @question, :class => 'form-control', :accesskey => accesskey(:quick_search), placeholder: "Search" %>
                <span class="input-group-btn">
                    <button class="btn btn-inverse" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div><!-- /input-group -->
    </div>
<% end %>
    
    
    <div id="logoWrapper">
        <div class="media">
            <div class="pull-left">
                <%= image_tag("people/2.jpg", class: "img-circle") %>
            </div>
            <div class="media-body">
                <%= User.current.firstname %>
                <p><i class="fa fa-fw fa-circle-o text-success"></i> Online</p>
            </div>
            <div class="clearfix"></div>
            <a href="user.html" class="btn btn-xs btn-inverse "><i class="fa fa-user"></i></a>
            <a href="user/projects.html" class="btn btn-xs btn-inverse "><i class="fa fa-clock-o"></i></a>
            <a href="user/messages.html" class="btn btn-xs btn-inverse "><i class="fa fa-envelope"></i></a>

        </div>
        <select class="selectpicker" data-style="btn-inverse" id="select_project" style="display: none;">
            <option>Select Project</option>
            <option value="project_milestones.html">Project #1</option>
            <option value="project_milestones.html">Project #2</option>
            <option value="project_milestones.html">Project #3</option>
        </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-inverse" data-toggle="dropdown" data-id="select_project" title="Select Project"><span class="filter-option pull-left">Select Project</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Select Project</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Project #1</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Project #2</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Project #3</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
    </div>


	<ul class="menu list-unstyled">
        <%= nav_link(l(:label_home), home_path, "fa fa-home") %>
		<%= nav_link(l(:label_project_plural), admin_projects_path, "fa fa-th-large") %>
        <%= nav_link(l(:label_user_plural), users_path, "fa fa-user") %>
        <%= nav_link(l(:label_group_plural), groups_path, "fa fa-group") %>
        <%= nav_link("Roles & Auth", roles_path, "fa fa-key") %>
        <%= nav_link(l(:label_tracker_plural), trackers_path, "fa fa-sitemap") %>
        <%= nav_link(l(:label_issue_status_plural), issue_statuses_path, "fa fa-align-left") %>
        <%= nav_link(l(:label_workflow), workflows_edit_path, "fa fa-exchange") %>
        <%= nav_link(l(:label_custom_field_plural), custom_fields_path, "fa fa-edit") %>
        <%= nav_link("Enumerations", enumerations_path, "fa fa-dashboard") %>
        <%= nav_link("Settings", settings_path, "fa fa-cogs") %>
        <%= nav_link("LDAP Auth", auth_sources_path, "fa fa-lock") %>
        <%= nav_link("Plugins", admin_plugins_path, "fa fa-tags") %>
        <%= nav_link(l(:label_information_plural), admin_info_path, "fa fa-info") %>

	</ul>
</div>

<script type="text/javascript">
        
        $(document).ready(function () {
            $(".hasNiceScroll").niceScroll({
                cursorcolor: 'rgb(199, 42, 37)',
                cursoropacitymin: 0,
                background: "",
                cursorborder: "none",
                autohidemode: "leave",
                cursorminheight: 60
            });
            $('.nicescroll-rails').show();
        });
    </script>

</div>
		<!-- // Sidebar Menu END -->
