<div class="top-content-menu">
    <a href="#" class="visible-xs " data-toggle="collapse" data-target="#top-menu">Submenu <i class="fa fa-caret-down pull-right"></i></a>
	<div style="height: auto;" class="collapse in" id="top-menu">
		<ul class="list-unstyled ">
			<%= nav_link(l(:label_home), home_path, nil) %>
			<%= nav_link(l(:label_my_page), my_page_path, nil) %>
			<%= nav_link(l(:label_project_plural), projects_path, nil) %>
			<li><%= link_to(l(:label_help), Redmine::Info.help_url) %></li>
		</ul>		
	 </div>
</div>