<h1 class="pull-left"><%=l(:label_issue_status_plural)%></h1> 
<div class="pull-right innerT">
  
  <%= link_to " "+l(:label_issue_status_new), new_issue_status_path, :class => 'fa fa-plus btn btn-success btn-stroke' %>
  <%= link_to(" "+l(:label_update_issue_done_ratios), update_issue_done_ratio_issue_statuses_path, :class => 'fa fa-flash btn btn-info btn-stroke', :method => 'post', :data => {:confirm => l(:text_are_you_sure)}) if Issue.use_status_for_done_ratio? %>
  

</div>
<div class="clearfix"></div>
<br/>




<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
  <th><%=l(:field_status)%></th>
  <% if Issue.use_status_for_done_ratio? %>
  <th><%=l(:field_done_ratio)%></th>
  <% end %>
  <th><%=l(:field_is_closed)%></th>
  <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for status in @issue_statuses %>
  <tr class="<%= cycle("odd", "even") %>">
  <td class="name"><%= link_to h(status.name), edit_issue_status_path(status) %></td>
  <% if Issue.use_status_for_done_ratio? %>
  <td><%= h status.default_done_ratio %></td>
  <% end %>
  <td><%= checked_image status.is_closed? %></td>
  <td class="reorder"><%= reorder_links('issue_status', {:action => 'update', :id => status}, :put) %></td>
  <td class="buttons">
    <%= delete_link issue_status_path(status) %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination pagination-centered margin-none"><%= pagination_links_full @issue_status_pages %></p>

<% html_title(l(:label_issue_status_plural)) -%>
