<%= error_messages_for @board %>

<div class="box tabular">
<p><%= f.text_field :name, :required => true, class: "form-control col-sm-4" %></p>
<p><%= f.text_field :description, :required => true, :size => 80, class: "form-control col-sm-4" %></p>
<% if @board.valid_parents.any? %>
<p><%= f.select :parent_id, boards_options_for_select(@board.valid_parents), :include_blank => true, :label => :field_board_parent, class: "form-control col-sm-4" %></p>
<% end %>
</div>
