<%= title [l(:label_role_plural), roles_path], @role.name %>

<%= labelled_form_for @role do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<%= button_tag type: "submit", :class => "small btn btn-primary" do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_save) %>
    <% end %>
<% end %>
