<h1 class="pull-left"><%=l(:label_role_plural)%></h1> 
<div class="pull-right innerT">
    <%= link_to " "+l(:label_role_new), new_role_path, :class => 'fa fa-plus btn btn-success' %> 
    <%= link_to " "+l(:label_permissions_report), permissions_roles_path, :class => 'fa fa-flash btn btn-warning' %>
</div>
<div class="clearfix"></div>
<br/>




<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
    <th><%=l(:label_role)%></th>
    <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for role in @roles %>
  <tr class="<%= cycle("odd", "even") %>">
  <td class="name"><%= content_tag(role.builtin? ? 'em' : 'span', link_to(h(role.name), edit_role_path(role))) %></td>
  <td class="reorder">
  <% unless role.builtin? %>
    <%= reorder_links('role', {:action => 'update', :id => role}, :put) %>
  <% end %>
  </td>
  <td class="buttons">
    <%= link_to l(:button_copy), new_role_path(:copy => role), :class => 'icon icon-copy' %>
    <%= delete_link role_path(role) unless role.builtin? %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination pagination-centered margin-none"><%= pagination_links_full @role_pages %></p>

<% html_title(l(:label_role_plural)) -%>
