<%= title [l(:label_role_plural), roles_path], l(:label_role_new) %>

<%= labelled_form_for @role do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= button_tag type: "submit", class: "btn btn-primary" do %>
	<i class="fa fa-check-circle"></i>
	<%= l(:button_create) %>
<% end %>
<% end %>
