<%= title [l(:label_role_plural), roles_path], l(:label_permissions_report) %>

<%= form_tag(permissions_roles_path, :id => 'permissions_form') do %>
<%= hidden_field_tag 'permissions[0]', '', :id => nil %>
<div class="autoscroll">
<table class="list permissions table tablet dynamicTable colVis dataTable">
<thead class="bg-gray">
    <tr>
    <th><%=l(:label_permissions)%></th>
    <% @roles.each do |role| %>
    <th>
        <%= content_tag(role.builtin? ? 'em' : 'span', h(role.name)) %>
        <%= link_to_function(image_tag('toggle_check.png'), "toggleCheckboxesBySelector('input.role-#{role.id}')",
                                                            :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
    </th>
    <% end %>
    </tr>
</thead>
<tbody>
<% perms_by_module = @permissions.group_by {|p| p.project_module.to_s} %>
<% perms_by_module.keys.sort.each do |mod| %>
    <% unless mod.blank? %>
        <tr class="group open">
          <td>
            <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
            <%= l_or_humanize(mod, :prefix => 'project_module_') %>
          </td>
          <% @roles.each do |role| %>
          <td class="role"><%= h(role.name) %></td>
          <% end %>
        </tr>
    <% end %>
    <% perms_by_module[mod].each do |permission| %>
        <tr class="<%= cycle('odd', 'even') %> permission-<%= permission.name %>">
        <td class="name">
            <%= link_to_function(image_tag('toggle_check.png'), "toggleCheckboxesBySelector('.permission-#{permission.name} input')",
                                                                :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
            <%= l_or_humanize(permission.name, :prefix => 'permission_') %>
        </td>
        <% @roles.each do |role| %>
        <td>
        <% if role.setable_permissions.include? permission %>
          <%= check_box_tag "permissions[#{role.id}][]", permission.name, (role.permissions.include? permission.name), :id => nil, :class => "role-#{role.id}" %>
        <% end %>
        </td>
        <% end %>
        </tr>
    <% end %>
<% end %>
</tbody>
</table>
</div>
<p><%= check_all_links 'permissions_form' %></p>
<p>
    <%= button_tag type: "submit", :class => "small btn btn-primary", :name => nil do %>
        <i class="fa fa-check-circle"></i>
        <%= l(:button_save) %>
    <% end %>
</p>
<% end %>
