<h1 class="pull-left"><%=l(:label_tracker_plural)%></h1> 
<div class="pull-right innerT">
    <%= link_to " "+l(:label_tracker_new), new_tracker_path, :class => 'fa fa-plus btn btn-success' %>
    <%= link_to " "+l(:field_summary), fields_trackers_path, :class => 'fa fa-flash btn btn-warning' %>
</div>
<div class="clearfix"></div>
<br/>


<table class="list table tablet dynamicTable colVis dataTable">
  <thead class="bg-gray"><tr>
  <th><%=l(:label_tracker)%></th>
  <th></th>
  <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for tracker in @trackers %>
  <tr class="<%= cycle("odd", "even") %>">
  <td class="name"><%= link_to h(tracker.name), edit_tracker_path(tracker) %></td>
  <td>
    <% unless tracker.workflow_rules.count > 0 %>
      <span class="icon icon-warning">
        <%= l(:text_tracker_no_workflow) %> (<%= link_to l(:button_edit), workflows_edit_path(:tracker_id => tracker) %>)
      </span>
    <% end %>
  </td>
  <td class="reorder">
    <%= reorder_links('tracker', {:action => 'update', :id => tracker}, :put) %>
  </td>
  <td class="buttons">
    <%= delete_link tracker_path(tracker) %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<p class="pagination pagination-centered margin-none"><%= pagination_links_full @tracker_pages %></p>

<% html_title(l(:label_tracker_plural)) -%>
