<% content_for :account do %>
	<div class="col-md-4 col-md-offset-4 innerT inner-2x">
	    <div class="innerT inner-2x">
	        <div class="widget innerLR innerB margin-none">
	        	<h3 class="innerTB text-center"><%=l(:label_password_lost)%></h3>
	        	<div class="lock-container">
	                <div class=" text-center">
	        		<%= form_tag(lost_password_path) do %>
			  	
			    	<p>
			      	<label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
			      	<%= text_field_tag 'mail', nil, :size => 40, class: "form-control" %>
			      	<%= submit_tag l(:button_submit), class: "btn btn-info" %>
			    	</p>
			    	<% end %>
			  		</div>
			  	</div>
			
	        </div>
	        <div class="text-right innerT half">
	            <%= link_to "Login", home_path %> | 
	            <%= link_to "Register", register_path %> | 
	            <% if Setting.lost_password? %>
	                <%= link_to l(:label_password_lost), lost_password_path %>
	            <% end %>
	        </div>
	    </div>
	</div>
<% end %>


