<% content_for :account do %>
  <div class="col-md-4 col-md-offset-4 innerT inner-2x">
      <div class="innerT inner-2x">
          <div class="widget innerLR innerB margin-none">
            <h3 class="innerTB text-center"><%=l(:label_password_lost)%></h3>
            <div class="lock-container">
                <div class=" text-center">


                <%= error_messages_for 'user' %>

                <%= form_tag(lost_password_path) do %>
                  <%= hidden_field_tag 'token', @token.value %>
                  <div class="box tabular">
                    <p>
                      <label for="new_password"><%=l(:field_new_password)%> <span class="required">*</span></label>
                      <%= password_field_tag 'new_password', nil, :size => 25, class: "form-control" %>
                      <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
                    </p>

                    <p>
                      <label for="new_password_confirmation"><%=l(:field_password_confirmation)%> <span class="required">*</span></label>
                      <%= password_field_tag 'new_password_confirmation', nil, :size => 25, class: "form-control" %>
                    </p>
                  </div>
                  <p><%= submit_tag l(:button_save), class: "btn btn-info" %></p>
                <% end %>
              </div>
            </div>
      
          </div>
          <div class="text-right innerT half">
            <%= link_to "Login", home_path %> | 
            <%= link_to "Register", register_path %> | 
            <% if Setting.lost_password? %>
                <%= link_to l(:label_password_lost), lost_password_path %>
            <% end %>
          </div>
      </div>
  </div>
<% end %>



