<% content_for :account do %>
    <div class="col-md-6 col-md-offset-3 innerT inner-2x">
        <div class="innerT inner-2x">
            <div class="widget innerLR innerB margin-none">
                <h3 class="innerTB text-center"><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h3>
                <div class="lock-container">
                    <div class=" text-center">
                        <div class="innerAll">
                        	<%= labelled_form_for @user, :url => register_path do |f| %>
							<%= error_messages_for 'user' %>

							<div class="box tabular">
							<% if @user.auth_source_id.nil? %>
							  <p><%= f.text_field :login, :size => 25, :required => true, class: "form-control" %></p>

							  <p><%= f.password_field :password, :size => 25, :required => true, class: "form-control", placeholder: "#{l(:text_caracters_minimum, :count => Setting.password_min_length)}" %>
							  </p>

							  <p><%= f.password_field :password_confirmation, :size => 25, :required => true, class: "form-control" %></p>
							<% end %>

							<p><%= f.text_field :firstname, :required => true, class: "form-control" %></p>
							<p><%= f.text_field :lastname, :required => true, class: "form-control" %></p>
							<p><%= f.text_field :mail, :required => true, class: "form-control" %></p>

							<% unless @user.force_default_language? %>
							<p><%= f.select :language, lang_options_for_select, {}, class: "form-control" %></p>
							<% end %>

							<% if Setting.openid? %>
							  <p><%= f.text_field :identity_url, class: "form-control"  %></p>
							<% end %>

							<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
							  <p><%= custom_field_tag_with_label :user, value %></p>
							<% end %>
							</div>

							<%= submit_tag l(:button_submit), class: "btn btn-info" %>
							<% end %>
                        </div>

                    </div>
                </div>
                <div class="text-right innerT half">
                    <!-- Forgot your password? -->
                    <%= link_to "Login", home_path %> | 
                    <% if Setting.lost_password? %>
                        <%= link_to l(:label_password_lost), lost_password_path %>
                    <% end %>
                </div>
            </div>
    </div>
<% end %>




















