<h1><%= @author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)).html_safe %></h1><div class="clearfix"></div><br>
<p class="subtitle"><%= l(:label_date_from_to, :start => format_date(@date_to - @days), :end => format_date(@date_to-1)) %></p>

<div class="widget">
  <div class="widget-body">
    <div id="activity">
    <% @events_by_day.keys.sort.reverse.each do |day| %>
    <h3><%= format_activity_day(day) %></h3>
    <dl>
    <% sort_activity_events(@events_by_day[day]).each do |e, in_group| -%>
      <dt class="<%= e.event_type %> <%= "grouped" if in_group %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>">
      <%= avatar(e.event_author, :size => "24") if e.respond_to?(:event_author) %>
      <span class="time"><%= format_time(e.event_datetime, false) %></span>
      <%= content_tag('span', h(e.project), :class => 'project') if @project.nil? || @project != e.project %>
      <%= link_to format_activity_title(e.event_title), e.event_url %>
      </dt>
      <dd class="<%= "grouped" if in_group %>"><span class="description"><%= format_activity_description(e.event_description) %></span>
      <span class="author"><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %></span></dd>
    <% end -%>
    </dl>
    <% end -%>
    </div>

    <%= content_tag('p', l(:label_no_data), :class => 'alert alert-warning') if @events_by_day.empty? %>

    <div style="float:left;">
    <%= link_to_content_update("\xc2\xab " + l(:label_previous),
                       params.merge(:from => @date_to - @days - 1),
                       :title => l(:label_date_from_to, :start => format_date(@date_to - 2*@days), :end => format_date(@date_to - @days - 1)),
                       :accesskey => accesskey(:previous), class: "btn btn-inverse") %>
    </div>
    <div style="float:right;">
    <%= link_to_content_update(l(:label_next) + " \xc2\xbb",
                       params.merge(:from => @date_to + @days - 1),
                       :title => l(:label_date_from_to, :start => format_date(@date_to), :end => format_date(@date_to + @days - 1)),
                       :accesskey => accesskey(:next), class: "btn btn-inverse") unless @date_to >= Date.today %>
    </div>
    &nbsp;
    <% other_formats_links do |f| %>
      <%= f.link_to 'Atom', :url => params.merge(:from => nil, :key => User.current.rss_key) %>
    <% end %>

    <% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, params.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
    <% end %>

    <% content_for :sidebar do %>
    <%= form_tag({}, :method => :get) do %>
    <h3><%= l(:label_activity) %></h3>
    <ul>
    <% @activity.event_types.each do |t| %>
      <li>
        <%= check_box_tag "show_#{t}", 1, @activity.scope.include?(t) %>
        <label for="show_<%=t%>">
          <%= link_to(l("label_#{t.singularize}_plural"),
                      {"show_#{t}" => 1, :user_id => params[:user_id], :from => params[:from]})%>
        </label>
      </li>
    <% end %>
    </ul>
    <% if @project && @project.descendants.active.any? %>
        <%= hidden_field_tag 'with_subprojects', 0, :id => nil %>
        <p><label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%></label></p>
    <% end %>
    <%= hidden_field_tag('user_id', params[:user_id]) unless params[:user_id].blank? %>
    <p><%= submit_tag l(:button_apply), :class => 'small btn btn-success', :name => nil %></p>
    <% end %>
    <% end %>

    <% html_title(l(:label_activity), @author) -%>
  </div>
</div>
