<div class="widget widget-tabs-content widget-tabs-responsive widget-none">

        <!-- Tabs Heading -->
  <div class="tabs widget-head bg-background text-center">
    <ul>
        <% tabs.each do |tab| -%>
          <li><%= link_to l(tab[:label]), { :tab => tab[:name] },
                                          :id => "tab-#{tab[:name]}",
                                          :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                          :onclick => "showTab('#{tab[:name]}', this.href); this.blur(); return false;" %></li>
        <% end -%>
    </ul>
  </div>
<!-- // Tabs Heading END -->

<div class="widget-body">

    <div class="row innerAll inner-2x">
        <div class="tabs-buttons" style="display:none;">
          <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
          <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
        </div>

        <script>
          $(document).ready(displayTabsButtons);
          $(window).resize(displayTabsButtons);
        </script>

        <% tabs.each do |tab| -%>
          <%= content_tag('div', render(:partial => tab[:partial], :locals => {:tab => tab} ),
                               :id => "tab-content-#{tab[:name]}",
                               :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                               :class => 'tab-content') %>
        <% end -%>
        
    </div>

</div>
</div>




