<h1 class="pull-left"><%=l(:label_my_account)%></h1> 
  <div class="pull-right innerT">
    <%= link_to(l(:button_change_password), {:action => 'password'}, :class => 'fa fa-plus btn btn-success btn-stroke') if @user.change_password_allowed? %>
    <%= call_hook(:view_my_account_contextual, :user => @user)%>
  </div>
  <div class="clearfix"></div><br/>

<div class="widget">
  <div class="widget-body">
    <%= error_messages_for 'user' %>

    <%= labelled_form_for :user, @user,
                         :url => { :action => "account" },
                         :html => { :id => 'my_account_form',
                                    :method => :post } do |f| %>
    <div class="row innerAll inner-2x">
      <div class="splitcontentleft">
      <fieldset class="box tabular">
        <legend><%=l(:label_information_plural)%></legend>
        <p><%= f.text_field :firstname, :required => true, class: "form-control" %></p>
        <p><%= f.text_field :lastname, :required => true, class: "form-control" %></p>
        <p><%= f.text_field :mail, :required => true, class: "form-control" %></p>
        <% unless @user.force_default_language? %>
        <p><%= f.select :language, lang_options_for_select, {}, class: "form-control" %></p>
        <% end %>
        <% if Setting.openid? %>
        <p><%= f.text_field :identity_url, class: "form-control" %></p>
        <% end %>

        <% @user.custom_field_values.select(&:editable?).each do |value| %>
          <p><%= custom_field_tag_with_label :user, value, class: "form-control" %></p>
        <% end %>
        <%= call_hook(:view_my_account, :user => @user, :form => f) %>
      </fieldset>

      <%= button_tag(type: "submit", class: "btn btn-success") do %>
        <i class="fa fa-plus"></i>
        <%= l(:button_save) %>
      <% end %>
      </div>

      <div class="splitcontentright">
      <fieldset class="box">
        <legend><%=l(:field_mail_notification)%></legend>
        <%= render :partial => 'users/mail_notifications' %>
      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_preferences)%></legend>
        <%= render :partial => 'users/preferences' %>
        <%= call_hook(:view_my_account_preferences, :user => @user, :form => f) %>
      </fieldset>

      </div>
      <% end %>

      <% content_for :sidebar do %>
      <%= render :partial => 'sidebar' %>
      <% end %>

      <% html_title(l(:label_my_account)) -%>

    </div>
  </div>
</div>


    