<h1 class="pull-left"><%=l(:label_my_page)%></h1> 
<div class="pull-right innerT">
    <div class="btn-group">
      <%= link_to l(:label_personalize_page), :action => 'page_layout', :class => 'fa fa-plus btn btn-success' %>
    </div>
</div>
<div class="clearfix"></div>
<br/>



<div id="list-top">
  <% @blocks['top'].each do |b|
     next unless MyController::BLOCKS.keys.include? b  %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['top'] %>
</div>

<div id="list-left" class="splitcontentleft">
  <% @blocks['left'].each do |b|
     next unless MyController::BLOCKS.keys.include? b %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['left'] %>
</div>

<div id="list-right" class="splitcontentright">
  <% @blocks['right'].each do |b|
     next unless MyController::BLOCKS.keys.include? b %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['right'] %>
</div>

<%= context_menu issues_context_menu_path %>

<% html_title(l(:label_my_page)) -%>
