<div class="pace  pace-inactive">
	<div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
  		<div class="pace-progress-inner"></div>
	</div>
	<div class="pace-activity"></div>
</div>
	
	<!-- Main Container Fluid -->
	<div style="visibility: visible;" class="container-fluid">
		
		<!-- side bar -->
		<%= render "layouts/common/sidebar" %>
		<!-- side bar -->

		<!-- Content -->
		<div id="content">
			<!-- navbar -->
			<%= render "layouts/common/header" %>
			<!-- navbar -->

			<!-- topnav bar -->
			<%= render "layouts/common/topnav" %>
			<!-- topnav bar -->

			<!-- wiget -->
			<div class="innerLR">
				<%= render_flash_messages %>
				<%= yield %>
			</div>
			<!-- wiget -->
			<div style="padding-bottom: 10px; height: 50px;">&nbsp;</div>
		</div>
		<!-- // Content END -->
		
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
		
		<%= render "layouts/common/footer" %>
		
		<!-- // Footer END -->
		
	</div>
	<!-- // Main Container Fluid END -->