<%= call_hook :view_account_login_top %>
<%= form_tag(signin_path) do %>
<%= back_url_hidden_field_tag %>
<div class="col-md-4 col-md-offset-4 innerT inner-2x">
    <div class="innerT inner-2x">
        <div class="widget innerLR innerB margin-none">
            <h3 class="innerTB text-center">Account Access</h3>
            <div class="lock-container">
                <div class=" text-center">
                    <!-- <a href=""> <img src="../assets/images/people/100/8.jpg" alt="people" class=""></a> -->

                    
                    <div class="innerAll">
                        <%= text_field_tag 'username', params[:username], :tabindex => '1', class: "form-control", placeholder: "Enter #{l(:field_login)}" %>
                        <div class="innerB half"></div>
                        <%= password_field_tag 'password', nil, :tabindex => '2', class: "form-control", placeholder: "Enter #{l(:field_password)}" %>
                        <% if Setting.openid? %>
                          <%= text_field_tag "openid_url", nil, :tabindex => '3', placeholder: "#{l(:field_identity_url)}" %>
                        <% end %>
                        <% if Setting.autologin? %>
                            <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
                        <% end %>
                    </div>
                    <div class="innerT half">
                        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                            Login <i class="fa fa-fw fa-unlock-alt"></i>
                        <% end %>
                    </div>

                </div>

            </div>
        </div>
        <div class="text-right innerT half">
            <!-- Forgot your password? -->
            <%= link_to "Register", register_path %> | 
            <% if Setting.lost_password? %>
                <%= link_to l(:label_password_lost), lost_password_path %>
            <% end %>
        </div>
    </div>
</div>

<% end %>
<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>
