<!--[if lt IE 7]> <html lang="<%= current_language %>" class="ie lt-ie9 lt-ie8 lt-ie7 paceSimple sidebar sidebar-fusion"> <![endif]-->
<!--[if IE 7]>    <html lang="<%= current_language %>" class="ie lt-ie9 lt-ie8 paceSimple sidebar sidebar-fusion"> <![endif]-->
<!--[if IE 8]>    <html lang="<%= current_language %>" class="ie lt-ie9 paceSimple sidebar sidebar-fusion"> <![endif]-->
<!--[if gt IE 8]> <html lang="<%= current_language %>" class="ie paceSimple sidebar sidebar-fusion"> <![endif]-->
<!--[if !IE]><!--><html lang="<%= current_language %>" class="paceSimple sidebar sidebar-fusion"><!-- <![endif]-->
<head>
<meta charset="utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'jquery/jquery-ui-1.11.0', 'application', :media => 'all' %>

<%= stylesheet_link_tag 'assets/library/bootstrap/css/bootstrap', :media => 'all' %>
<%= stylesheet_link_tag 'module.admin.stylesheet-complete.min', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>




<!-- Can be removed -->

<%= javascript_include_tag "script.min" %>

<%= javascript_include_tag "theme/jquery.nicescroll.min" %>


<%= javascript_include_tag "theme/jquery.min" %>
<%= javascript_include_tag "theme/jquery.min" %>
<%= javascript_include_tag "theme/modernizr" %>

<%= javascript_include_tag "theme/bootstrap.min" %>
<%= javascript_include_tag "theme/jquery-migrate.min" %>

<%= javascript_include_tag "theme/davis.min" %>
<%= javascript_include_tag "theme/jquery.lazyjaxdavis.min" %>
<%= javascript_include_tag "theme/pace.min" %>
<%= javascript_include_tag "theme/jquery.nicescroll.min" %>
<%= javascript_include_tag "theme/breakpoints" %>
<%= javascript_include_tag "theme/jquery.jscroll" %>
<%= javascript_include_tag "theme/bootstrap-select" %>
<%= javascript_include_tag "theme/bootstrap-datepicker" %>
<%= javascript_include_tag "theme/bootbox.min" %>
<%= javascript_include_tag "theme/jquery.gritter.min" %>
<%= javascript_include_tag "theme/less.min" %>
<%= javascript_include_tag "theme/excanvas" %>
<%= javascript_include_tag "theme/ie.prototype.polyfill" %>



<%= javascript_include_tag "theme/ajaxify.init" %>
<%= javascript_include_tag "theme/preload.pace.init" %>
<%= javascript_include_tag "theme/infinite-scroll.init" %>
<%= javascript_include_tag "theme/sidebar.main.init" %>
<%= javascript_include_tag "theme/sidebar.collapse.init" %>
<%= javascript_include_tag "theme/bootstrap-select.init" %>
<%= javascript_include_tag "theme/bootstrap-datepicker.init" %>
<%= javascript_include_tag "theme/modals.init" %>
<%= javascript_include_tag "theme/gritter.init" %>
<%= javascript_include_tag "theme/core.init" %>


<script>
$script(App.Scripts.core, 'core');

$script.ready(['core'], function(){
	$script(App.Scripts.plugins_dependency, 'plugins_dependency');
});
$script.ready(['core', 'plugins_dependency'], function(){
	$script(App.Scripts.plugins, 'plugins');
});
$script.ready(['core', 'plugins_dependency', 'plugins'], function(){
	$script(App.Scripts.bundle, 'bundle');
});
$(".nicescroll-rails").niceScroll("#nicescroll-cursors",{cursorcolor:"#0F0",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true}); 
$("#menu").niceScroll("#menu .wrapper",{boxzoom:true});
</script>


<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>">

<% if User.current.logged? %>
    <%= render "layouts/dashboard" %>
<% else %>
	<div class="row innerT inner-2x">
       	<%= render_flash_messages %>
		<%= yield(:account) %>
    </div>
<% end %>













<script type="text/javascript">
	/* Remove Envato Frame */
if (window.location != window.parent.location)
	top.location.href = document.location.href;

(function($, window)
{

	// fix for safari back button issue
	window.onunload = function(){};

	$.expr[':'].scrollable = function( elem ) 
    {
      var scrollable = false,
          props = [ '', '-x', '-y' ],
          re = /^(?:auto|scroll)$/i,
          elem = $(elem);
      
      $.each( props, function(i,v){
        return !( scrollable = scrollable || re.test( elem.css( 'overflow' + v ) ) );
      });
      
      return scrollable;
    };

	window.beautify = function (source)
	{
		var output,
			opts = {};

	 	opts.preserve_newlines = false;
		output = html_beautify(source, opts);
	    return output;
	}

	// generate a random number within a range (PHP's mt_rand JavaScript implementation)
	window.mt_rand = function (min, max) 
	{
		var argc = arguments.length;
		if (argc === 0) {
			min = 0;
			max = 2147483647;
		}
		else if (argc === 1) {
			throw new Error('Warning: mt_rand() expects exactly 2 parameters, 1 given');
		}
		else {
			min = parseInt(min, 10);
			max = parseInt(max, 10);
		}
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	// scroll to element animation
	function scrollTo(id)
	{
		if ($(id).length)
			$('html,body').animate({scrollTop: $(id).offset().top},'slow');
	}

	window.resizeNiceScroll = function()
	{
		if (typeof $.fn.niceScroll == 'undefined')
			return;

		setTimeout(function(){
			$('.hasNiceScroll, #menu').getNiceScroll().show().resize();
			if ($('.container-fluid').is('.menu-hidden'))
				$('#menu').getNiceScroll().hide();
		}, 100);
	}

	$('#content .modal').appendTo('body');
	
	// tooltips
	$('body').tooltip({ selector: '[data-toggle="tooltip"]' });
	
	// popovers
	$('[data-toggle="popover"]').popover();
	
	// print
	$('[data-toggle="print"]').click(function(e)
	{
		e.preventDefault();
		window.print();
	});
	
	// carousels
	$('.carousel').carousel();
	
	// Google Code Prettify
	if ($('.prettyprint').length && typeof prettyPrint != 'undefined')
		prettyPrint();

	$('[data-toggle="scrollTo"]').on('click', function(e){
		e.preventDefault();
		scrollTo($(this).attr('href'));
	});

	$('ul.collapse')
	.on('show.bs.collapse', function(e)
	{
		e.stopPropagation();
		$(this).closest('li').addClass('active');
	})
	.on('hidden.bs.collapse', function(e)
	{
		e.stopPropagation();
		$(this).closest('li').removeClass('active');
	});

	window.enableContentNiceScroll = function(hide)
	{
		if ($('html').is('.ie') || Modernizr.touch)
			return;

		if (typeof $.fn.niceScroll == 'undefined')
			return;

		if (typeof hide == 'undefined')
			var hide = true;

		$('#content .col-app, .col-separator, .applyNiceScroll')
		.filter(':scrollable')
		.not('.col-unscrollable')
		.filter(function(){
			return !$(this).find('> .col-table').length;
		})
		.addClass('hasNiceScroll')
		.each(function()
		{
			$(this).niceScroll({
				horizrailenabled: false,
				zindex: 2,
				cursorborder: "none",
				cursorborderradius: "0",
				cursorcolor: primaryColor
			});

			if (hide == true)
				$(this).getNiceScroll().hide();
			else
				$(this).getNiceScroll().resize().show();
		});
	}

	window.disableContentNiceScroll = function()
	{
		$('#content .hasNiceScroll').getNiceScroll().remove();
	}

	enableContentNiceScroll();

	if ($('html').is('.ie'))
		$('html').removeClass('app');

	if (typeof $.fn.niceScroll != 'undefined')
	{
		$('#menu > div')
		.add('#menu_kis > div')
		.addClass('hasNiceScroll')
		.niceScroll({
			horizrailenabled: false, 
			zindex: 2,
			cursorborder: "none",
			cursorborderradius: "0",
			cursorcolor: primaryColor
		}).hide();
	}

	if ($('#sidebar-discover-wrapper.mini').length)
		$('body').addClass('sidebar-discover-mini');

	if (typeof coreInit == 'undefined')
	{
		$('body')
		.on('mouseenter', '.navbar.main [data-toggle="dropdown"]', function()
		{ 
			if (!$(this).parent('.dropdown').is('.open'))
				$(this).click();
		});
	}
	else {
		$('[data-toggle="dropdown"]').dropdown();
	}

	$('.navbar.main')
	.on('mouseleave', function(){
		$(this).find('.dropdown.open').find('> [data-toggle="dropdown"]').click();
	});

	$('[data-height]').each(function(){
		$(this).css({ 'height': $(this).data('height') });
	});

	$('.app [data-toggle="tab"]')
	.on('shown.bs.tab', function(e)
	{
		$('.hasNiceScroll').getNiceScroll().resize();
	});

	$(window).setBreakpoints({
		distinct: false,
		breakpoints: [ 768, 992 ]
	});

	$(window).bind('exitBreakpoint768',function() {		
		$('.container-fluid').addClass('menu-hidden');
        $("#top-menu").collapse('toggle');
	});

	$(window).bind('enterBreakpoint768',function() {
		$('.container-fluid').removeClass('menu-hidden');
        if (!$('#top-menu').is('.in')) {
            $("#top-menu").collapse('toggle');
        }
	});

	$(window).bind('exitBreakpoint992',function() {		
		disableContentNiceScroll();
	});

	$(window).bind('enterBreakpoint992',function() {
		enableContentNiceScroll(false);

	});

	window.coreInit = true;
	
	$(window).on('load', function()
	{
		window.loadTriggered = true;

        if ($(window).width() < 768)
            $("#top-menu").collapse('toggle');

		if ($(window).width() < 992)
			$('.hasNiceScroll').getNiceScroll().stop();

		if (typeof animations == 'undefined')
			$('.hasNiceScroll, #menu').getNiceScroll().show().resize();

		if (typeof Holder != 'undefined')
		{
			Holder.add_theme("dark", {background:"#424242", foreground:"#aaa", size:9}).run();
			Holder.add_theme("white", {background:"#fff", foreground:"#c9c9c9", size:9}).run();
		}

		if ($('.scripts-async').length)
			$('.scripts-async .container-fluid').css('visibility', 'visible');
	});

	// weird chrome bug, sometimes the window load event isn't triggered
	setTimeout(function(){
		if (!window.loadTriggered)
			$(window).trigger('load');
	}, 2000);

    $('#select_project').on('change', function() {
        location = $(this).val();
    });


    (function($)
{
	$('ul.collapse')
	.on('show.bs.collapse', function(e)
	{
		e.stopPropagation();

		if ($(this).closest('#menu').length)
		{
			var t = $(this).parents('.hasSubmenu').length;
			if (t != 1) return;

			var a = $('#menu > div > ul > li.hasSubmenu.active > ul').not(this);

			a
			.removeClass('in').addClass('collapse').removeAttr('style')
			.closest('.hasSubmenu.active').removeClass('active');
		}
	})
	.on('shown.bs.collapse', function(e)
	{
		e.stopPropagation();
		
		if ($(this).closest('#menu').length)
			$('#menu *').getNiceScroll().resize();
	});
	
	$('#menu_switch').on('change', function(){
		var w = $(this).parents('#menu'),
			w_fusion = w.find('#sidebar-fusion-wrapper'),
			nav = $(this).val();

		if (w_fusion.length)
		{
			w_fusion.find('> ul').addClass('hide');
			w_fusion.find('#' + nav).removeClass('hide');
			$('#menu *').getNiceScroll().resize();
		}
	});

	$('.btn-avatar [data-toggle="tab"]').on('show.bs.tab', function(e){
		e.stopPropagation();
		$('.btn-avatar [data-toggle="tab"]').parent().removeClass('active');
	});

})(jQuery);
})(jQuery, window);
</script>

</body>
</html>
